* {
    padding: 0;
    margin: 0;
}


body {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    color: #999;
    text-align: center;
}

.b-slider {
    width: 800px;
    margin: 50px auto;
    background-color: #e5e5e5;
    position: relative;
}

.b-slider:after {
    content: '';
    clear: both;
    display: block;
}

.b-slider__layout {
    padding: 50px;
    min-height: 100px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.b-slider__slides {
    border: 1px solid rgba(225, 225, 205, 1);
}

.b-slider__slides:after {
    content: '';
    clear: both;
    display: block;
}

.b-slider__slide {
    margin: 0 0 0 -100%;
    float: left;
    visibility: hidden;
    max-width: 100%;
    font-size: 0;
    line-height: 0;
}

.b-slider__slide:first-child {
    margin: 0;
}

.b-slider__slide[data-slide-active] {
    visibility: visible;
}

.b-slider__slide-img {
    width: 100%;
}

.b-slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.b-slider__arrow-left,
.b-slider__arrow-right {
    background-color: rgba(30, 136, 229, 0.8);
    border: 1px solid #1E88E5;
    box-sizing:border-box;
    box-shadow: 0 1px 1px #111;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: absolute;
    margin-top: 50%;
    text-align: center;
    top: -100px;
    transition: 0.2s;
    vertical-align: middle;
    width: 50px;
}

.b-slider__arrow-left {
    left: 0;
}

.b-slider__arrow-right {
    right: 0;
}

.b-slider__arrow-left:before,
.b-slider__arrow-left:after,
.b-slider__arrow-right:before,
.b-slider__arrow-right:after {
    background-color: #fff;
    content: '';
    display: inline-block;
    height: 4px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.b-slider__arrow-left:before {
    margin-top: -7px;
    right: 16px;
    transform: rotate(-45deg);
}

.b-slider__arrow-left:after {
    transform: rotate(45deg);
    margin-top: 5px;
    right: 16px;
}

.b-slider__arrow-right:before {
    transform: rotate(45deg);
    margin-top: -7px;
    left: 16px;
}

.b-slider__arrow-right:after {
    transform: rotate(-45deg);
    margin-top: 5px;
    left: 16px;
}

.b-slider__arrow-left:hover,
.b-slider__arrow-right:hover {
    box-shadow: 0 1px #0D47A1 inset;
}

.b-slider__arrow-left:hover:before {
    transform: rotate(495deg);
    transition: cubic-bezier(0.01, 0.74, 0.4, 0.96) 0.3s;
}

.b-slider__arrow-left:hover:after {
    transform: rotate(-495deg);
    transition: cubic-bezier(0.01, 0.74, 0.4, 0.96) 0.3s;
}

.b-slider__arrow-right:hover:before {
    transform: rotate(-495deg);
    transition: cubic-bezier(0.01, 0.74, 0.4, 0.96) 0.3s;
}

.b-slider__arrow-right:hover:after {
    transform: rotate(495deg);
    transition: cubic-bezier(0.01, 0.74, 0.4, 0.96) 0.3s;
}

.b-slider__crops {
}

.b-slider__crop-list {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
}

.b-slider__crop-item {
    background-color: rgba(30, 136, 229, 0.8);
    border: 1px solid #1E88E5;
    box-shadow: 0 1px 1px #111;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    height: 10px;
    margin: 0 4px;
    transition: 0.2s;
    width: 10px;
}

.b-slider__crop-item:hover {
    box-shadow: 0 1px #0D47A1 inset;
}

.b-slider__crop-item[data-crop-active] {
    opacity: 0.4;
}
